{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container mt-3">
        {% if userdata %}
        <div class="mb-3">
            <h3>New Customer: </h3>
            {% for data in userdata %}
            <div class="row">
                <p class="mx-3">Name: {{ data.name }}</p>
                <p class="mx-3">Card: {{ data.card }}</p>
                <div class="mx-3">
                    <a class="btn btn-primary mx-3" href="{% url 'push_name' data.name data.card %}">Push Name</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if itemdata %}
        <div class="mb-3">
            <h3>New Items: </h3>
            {% for data in itemdata %}
            <div class="row">
                <p class="mx-3">Cust Name: {{ data.name }}</p>
                <p class="mx-3">Item: {{ data.item_purchase}}</p>
                <p class="mx-3">Price: {{ data.price}}</p>
                <p class="mx-3">Qty: {{ data.quantity}}</p>
                <p class="mx-3">Spending: {{ data.total_spend}}</p>
                <p class="mx-3">Time: {{ data.purchase_ts}}</p>
                <div class="mx-3">
                    <a class="btn btn-primary mx-3"
                        href="{% url 'push_item' data.name data.item_purchase data.price data.quantity data.total_spend data.purchase_ts%}">Push Item</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
 
        {% if userdb %}
        <div class="mb-3">
            <h3>Names in DB: </h3>
            {% for data in userdb %}
            <div class="row">
                <p class="mx-3">Name: {{ data.name }}</p>
                <p class="mx-3">Card: {{ data.card }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if itemsdb %}
        <div class="mb-3">
            <h3>Items in DB: </h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Spend</th>
                            <th>TimeStamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in itemsdb %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.item}}</td>
                            <td>{{ data.quantity }}</td>
                            <td>{{ data.price }}</td>
                            <td>{{ data.total_spend}}</td>
                            <td>{{ data.purchase_ts}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
 
        {% if status %}
        <div class="mb-3">
            <h3>Names in DB: {{ status }}</h3>
            <h3>Items in DB: {{ item_status }}</h3>
        </div>
        {% endif %}
        {% if item_status%}
        <div class="mb-3">
            <h3>Names in DB: {{ status }}</h3>
            <h3>Items in DB: {{ item_status }}</h3>
        </div>
        {% endif %}
        <div>
            <div class="row">
                <h3>Populate Tables: </h3>
                {% if argilla %}
                <p><span class="badge badge-success badge-sm mx-3">{{ argilla }}</span></p>
                {% endif %}
            </div>
            <p><strong>Names Table: </strong></p> 
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-sm btn-info" href="{% url 'get_n_name' %}">Get New Customer</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-sm btn-info" href="{% url 'show_name' %}">Show Customers</a>
                </div>
                <div class="col-4">
                <a class="btn btn-sm btn-danger" href="{% url 'del_names' %}">Remove All Names</a>
                </div>
            </div>
            <p><strong>Purchase Table: </strong></p> 
            <div class="row">
                <div class="col-3">
                    <a class="btn btn-sm btn-info" href="{% url 'getnitem' %}">Make New Purchase</a>
                </div>
                    <a class="btn btn-sm btn-info" href="{% url 'show_item' %}">Show Purchase List</a>
                <div class="col-2">
                </div>
                <div class="col-4">
                    <a class="btn btn-sm btn-danger" href="{% url 'del_items' %}">Remove All Purchases</a>
                </div>
            </div>
        </div>
        <div>
            <p class="mt-3"><strong>LLM Interaction: </strong></p> 
            <div class="w-100 d-flex">
                <div class="w-50">
                    <form action="{% url 'get_llm' %}" method="get">
                        <label for="text_q1"></label>
                        <input type="text" name="text_q1" id="text_q1">
                        <button class="btn btn-success" type="submit">LLM Query</button>
                    </form>
                </div>
                <div class="w-50">
                    <form action="{% url 'get_ol_llm' %}" method="get">
                        <label for="text_q2"></label>
                        <input type="text" name="text_q2" id="text_q2">
                        <button class="btn btn-success" type="submit">Query Ollama</button>
                    </form>
                </div>
            </div>
            <div class="w-50 mt-5 d-flex">
                <p>
                    <strong>Questions Table: </strong>
                </p>
                <div class="w-50">
                    <a href="{% url 'show_quest' %}" class="btn btn-primary">Show Questions</a>
                </div>
                <div class="w-50">
                    <a href="{% url 'del_quests' %}" class="btn btn-danger">Delete Questions</a>
                </div>
            </div>
        </div>
       {% if prompt %}
        <div>
            <h6>Prompt:</h6>
            <p>{{ prompt }}</p>
        </div>
        {% endif %}
        {% if reply %}
        <div>
            <h6>Prompt Output:</h6>
            <p>{{ reply }}</p>
        </div>
        {% endif %}
        {% if questdb %}
        <div class="mb-3 mt-3">
            <h3>Questions in DB: </h3>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Prompt</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for data in questdb %}
                        <tr>
                            <td>{{ data.question}}</td>
                            <td>{{ data.prompt}}</td>
                            <td>{{ data.answer}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="mt-3">
            <button class="btn btn-info" id="streamer">Stream Replies</button> 
            <h5>Streaming Output: </h5>
            <div id="stream"></div>
        </div>
    </div>
    <script>
        function fetchStreamingContent() {
        // Create XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Define the URL of your Django view
        var url = "{% url 'stream_reply' %}";

        // Handle each chunk of the response
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.LOADING) {
                // Update HTML content with each chunk received
                document.getElementById('stream').innerHTML = xhr.responseText;
            }
        };

        // Open asynchronous GET request to the Django view
        xhr.open('GET', url, true);

        // Send the request
        xhr.send();
    }
    const streamer = document.getElementById("streamer")
    // Call fetchStreamingContent function when button is clicked 
    streamer.addEventListener('click', fetchStreamingContent);
    </script>
{% endblock %}