<!DOCTYPE html>
<html>
    <head>
        <title>User Dash</title>
    </head>
    <body>
        <header>
            <h3>Hello There. Looking for Something???</h3>
        </header>
        <style>
            label, input {
                display: block;
            }
            span.helptext {
                display: none;
            }
        </style>
        {% block content %}
        {% endblock %}
        <footer>
            <h6>Invaluable</h6>
        </footer>
    </body>
</html>