{% extends 'base.html' %}
{% block title %}From App 1{% endblock %}
{% block heading %}Django App One{% endblock %}
{% block content %}
<div class="center-text">
<h2>Welcome to Django App</h2>
<p>The apps make the django web sites modular. This app is inside the project 1.</p>
<p>Following lists are populated using data transferred from the views.py</p>
<p>The lists below are split into multiple divs in html. So they can be displayed like a table.</p>
</div>
<section>
    <div class="column">
    {% for e in lists|slice:":2" %}
      <h3>{{e|title}}</h3>
        {% cycle inno_pdts condiments as sub_list silent %}
          <ul>
            {% for l in sub_list %}
              <li>{{l}}</li>
            {% endfor %}
          </ul>
        <p>The length of this list added to 15 is {{sub_list|length|add:"15"}} </p>
    {% endfor %}
    </div>

    {#Starting the second for loop #}
    
    <div class="column">
    {% for e in lists|slice:"2:" %}
      <h3>{{e|title}}</h3>
        {% cycle anoms timelines as sub_list silent %}
          <ul>
            {% for l in sub_list %}
              <li>{{l}}</li>
            {% endfor %}
          </ul>
        <p>The length of this list added to 15 is {{sub_list|length|add:"15"}} </p>
    {% endfor %}
    </div>
</section>
{% endblock %}
