<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'employee_list' %}">Employee Management</a>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

